<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search-image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <button class="qbtn" id="totop">TO TOP</button>
    <div class="content">
    <div class="display" id="scroller">
        <h1>SEARCH IMAGE_</h1>
        <form>
            <label>
                <input type="text" name="query" class="qinput" autofocus autocomplete="off">
                <button type="submit" class="qbtn">search</button>
                <input type="submit" name="color" class="qbtn" value="black_and_white">
            </label>
        </form>
    </div>


    <div id="sentinel">
        <div class="loading">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
    </div>
    </div>

</body>
</html>

